configure
Makefile
*.1
*.desktop
INSTALL
Makefile.in*
RUN
aclocal.m4
autom4te.cache/
compile
config.*
configure.ac
depcomp
install-sh
intltool*.in
missing
po/*.gmo
po/.intltool-merge-cache
po/LINGUAS
po/POTFILES
po/stamp-it
src/*.o
src/.deps/
src/gigolo
stamp-h1
