configure
Makefile
*.1
*.desktop
*.bz2
*~
ABOUT-NLS
INSTALL
Makefile.in*
RUN
aclocal.m4
autom4te.cache/
compile
config.*
depcomp
install-sh
intltool*.in
m4/
missing
po/*.gmo
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/gigolo.pot
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
src/*.o
src/.deps/
src/gigolo
src/gigolo.ui~
src/gigolo_ui.h
stamp-h1
